body {
  font-family: sans-serif;
  padding-left: 11em;
  font-family: Source Sans Pro, sans-serif, Georgia, "Times New Roman", Times, serif;
  color: black;
}

h1 {
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
}

ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em 
}

  ul.navbar li { /* individual buttons */
    background: white;
    margin: 0.5em 0.5em;
    padding: 0.3em;
    border-radius: 9px;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    box-shadow: 0px 10px 10px -9px #ccc;
  }

    ul.navbar a {
      text-decoration: none; 
    }

      a:link {
        color: #4287f5;
      }

      a:visited {
        color: #4287f5; 
      }

address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted; 
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235,235,235);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}

caption {
  padding: 10px;
}
