/* Find out why there's 2 style sheets*/

body {
  padding-left: 11em;
  font-family: Source Sans Pro, sans-serif, Georgia, "Times New Roman", Times, serif;
  color: black;
  background: #95c8d0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #95c8d0, #C4E0E5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #95c8d0, #C4E0E5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.reference_font{
	font-family: 'Times New Roman', Times, serif;
}
h2.center{
	width: 100%;
	text-align: center;
}
Table_size{
	width: 100px;
	height: 100px;
}
.column-text{
	text-align: center;
}
.column-underline{
	text-decoration: underline;
}
.column-background{

		border-radius: 25px;
		background: #ffff;
		padding: 20px; 
		width: 100px;
		height: 200px;  
	  

}

h1 {
  font-family: Source Sans Pro, sans-serif, Helvetica, Geneva, Arial, SunSans-Regular, sans-serif; 
}

ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 10em; 

}

	ul.navbar li { /* individual buttons */
	  background: white;
	  margin: 0.5em 0.5em;
	  padding: 0.3em;
	  border-radius: 9px;
	  color: white;
	  padding: 5px 5px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 13px;
	  font-weight: bold;
	  box-shadow: 0px 10px 10px -9px #ccc;
	}

		ul.navbar a {
		  text-decoration: none; 
		}

			a:link {
			  color: #4287f5;
			}

			a:visited {
			  color: #4287f5;
			}

address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted; 
}			
